// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --ion-color-primary: #ab47bc; /* Cambia este color por el morado que prefieras */
    --ion-color-primary-rgb: 171, 71, 188;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #973fa7;
    --ion-color-primary-tint: #b85ec6;
  }
  