<ion-header>
  <ion-toolbar style="--background: #A9E5BB; --color: white;">
    <ion-buttons slot="start">
      <img src="assets/img/Logo.jpeg" alt="Logo" class="logo-barra" style="width: 40px; height: 40px; border-radius: 50%;">
    </ion-buttons>
    <ion-title>Endocrinología</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="especialidad-layout">
    <div class="texto">
      <h2>¿Qué es la Endocrinología?</h2>
      <p>
        Endocrinología Veterinaria es la especialidad médica que estudia las glándulas que producen las hormonas, es decir, las glándulas de secreción interna o glándulas endocrinas.
      </p>
      <p>
        Analiza y estudia los efectos normales de sus secreciones y los trastornos derivados del mal funcionamiento de las mismas.
      </p>
    </div>

    <div class="imagen">
      <img src="assets/img/endocrinologo.jpeg" alt="Endocrinología" class="portada-img" />
    </div>
  </div>
  <ion-button expand="full" routerLink="/agendar-visita">
    Agendar Visita
  </ion-button>
</ion-content>
