<ion-header>
  <ion-toolbar style="--background: #A9E5BB; --color: white;">
    <ion-buttons slot="start">
      <img src="assets/img/Logo.jpeg" alt="Logo" class="logo-barra" style="width: 40px; height: 40px; border-radius: 50%;">
    </ion-buttons>
    <ion-title>Oncología</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="especialidad-layout">
    <div class="texto">
      <h2>¿Qué es la Oncología?</h2>
      <p>
        Como en los humanos, nuestros compis peludos también tienen tendencia a sufrir enfermedades de carácter oncológico. Por lo que es de vital importancia diagnosticar a tiempo este tipo de problemas que normalmente se dan cuando son ancianitos, aunque los jóvenes no están exentos de dichas patologías. Para ello tenemos un servicio especializado para su detección y diagnóstico.
      </p>
      <p>
        Una de las herramientas más importantes que usamos para ello son las citologías de los tumores, con las que valoramos inicialmente su carácter celular para así posteriormente biopsiar y que nuestro especialista en anatomía patológica pueda valorar y poner nombre al tumor. Este servicio incluye, siempre que fuera necesario y con valoración previa, la adopción de medidas quimioterapéuticas.
      </p>
    </div>

    <div class="imagen">
      <img src="assets/img/oncologia.jpeg" alt="Oncología" class="portada-img" />
    </div>
  </div>

  <ion-button expand="full" routerLink="/agendar-visita">
    Agendar Visita
  </ion-button>
</ion-content>
