<ion-header>
  <ion-toolbar style="--background: #A9E5BB; --color: white;">
    <ion-buttons slot="start">
      <img src="assets/img/Logo.jpeg" alt="Logo" class="logo-barra" style="width: 40px; height: 40px; border-radius: 50%;">
    </ion-buttons>
    <ion-title>Cardiología</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="cardiologia-layout">
    <div class="texto">
      <h2>¿Qué es la Cardiología?</h2>
      <p>
        La Cardiología es la especialidad médica encargada de estudiar y tratar el corazón. Nuestro equipo está comprometido con brindar atención de alta calidad para tratar las afecciones cardíacas en las mascotas. Ofrecemos una gama completa de servicios cardiológicos en nuestras clínicas asociadas, y para mayor comodidad, también disponemos de un completo servicio de cardiología veterinaria a domicilio.
      </p>
      <p>
        Las ventajas de nuestros servicios son: Equipos de diagnóstico de vanguardia, atención especializada y personalizada, consultas de seguimiento para monitorizar el progreso del tratamiento y horarios flexibles para tu comodidad.
      </p>
    </div>

    <div class="imagen">
      <img src="assets/img/cardiologia.jpeg" alt="Cardiología" class="portada-img" />
    </div>
  </div>
  <ion-button expand="full" routerLink="/agendar-visita">
    Agendar Visita
  </ion-button>
</ion-content>
