<ion-header>
  <ion-toolbar style="--background: #A9E5BB; --color: white;">
    <ion-buttons slot="start">
      <img src="assets/img/Logo.jpeg" alt="Logo" class="logo-barra" style="width: 40px; height: 40px; border-radius: 50%;">
    </ion-buttons>
    <ion-title>Gastroenterología</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="especialidad-layout">
    <div class="texto">
      <h2>¿Qué es la Gastroenterología?</h2>
      <p>
        Hola 👋🏻 Soy la Dra. Colomba Arjona, gastroenteróloga veterinaria.
      </p>
      <p>
        La gastroenterología veterinaria trata enfermedades que afectan el sistema digestivo. Este incluye el tracto gastrointestinal (esófago, estómago, intestino delgado, intestino grueso), y otros órganos como el páncreas y el hígado.
      </p>
      <p>
        En nuestra consulta, revisaremos todos los antecedentes de tu mascota, resolveremos tus dudas y revisaremos opciones de tratamiento.
      </p>
      <p>
        Puedes agendar conmigo una visita presencial o teleconsulta. Trabajemos juntos para recuperar la salud de tu mascota.
      </p>
    </div>

    <div class="imagen">
      <img src="assets/img/gastroenterologia.jpeg" alt="Gastroenterología" class="portada-img" />
    </div>
  </div>
  <ion-button expand="full" routerLink="/agendar-visita">
    Agendar Visita
  </ion-button>
</ion-content>
