<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="assets/img/logo.jpg" alt="Logo Clínica" style="height: 40px; margin-right: 10px;">
    </ion-buttons>
    <ion-title>Clínica Veterinaria</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio" routerDirection="root">Inicio</ion-button>
      <ion-button routerLink="/servicios" routerDirection="forward">Servicios</ion-button>
      <ion-button routerLink="/equipo" routerDirection="forward">Equipo</ion-button>
      <ion-button routerLink="/citas" routerDirection="forward">Citas</ion-button>
      <ion-button routerLink="/contacto" routerDirection="forward">Contacto</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="bienvenida">
    <h1>Bienvenidos a la Clínica Veterinaria</h1>
    <p>Tu mascota está en buenas manos. Explora nuestros servicios y más.</p>
  </div>

  <ion-img src="assets/img/portada.png" alt="Imagen de portada"></ion-img>


  <ion-footer>
    <ion-toolbar color="dark"> <!-- Establece el color oscuro para el fondo -->
      <ion-text class="ion-text-center" color="light"> <!-- Establece el color claro para el texto -->
        <small>© 2025 Clínica Veterinaria Happy et. Todos los derechos reservados.</small>
        <small>Horario de atención</small>
        <div class="ion-text-center">
          <small>📅 Los 365 días del año</small><br>
          <small>⌛ Urgencias las 24 hrs. del día</small>
        </div>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</ion-content>

