<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/Logo.jpeg" alt="Logo" class="logo-barra" />
      🐾Recuperar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <h2 style="text-align: center;">¿Olvidaste tu contraseña?</h2>
  <p style="text-align: center;">Ingresa tu correo y la nueva contraseña</p>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="nuevaPassword" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="actualizarPassword()">Actualizar contraseña</ion-button>
  <ion-button fill="clear" size="small" (click)="irABienvenido()">
    ⬅️ Volver a Inicio
  </ion-button>
  

  

</ion-content>
