<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Veterinaria</ion-title> <!-- Título de la página -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/fotos_duoc/veterinaria.jpeg" alt="Logo" class="logo"> <!-- Logo de la veterinaria -->
  </div>

  <!-- Título y mensaje de bienvenida -->
  <div class="ion-margin ion-text-center">
    <ion-label class="titulo">Ingrese sus Credenciales</ion-label> <!-- Mensaje que invita a ingresar las credenciales -->
  </div>

  <!-- Formulario de Login -->
  <form (ngSubmit)="login()"> <!-- Se ejecuta la función login() cuando el formulario es enviado -->
    
    <!-- Campo de correo -->
    <ion-item>
      <ion-input 
        [(ngModel)]="mdl_correo" 
        name="correo" 
        label="Correo Electrónico" 
        labelPlacement="floating" 
        fill="outline" 
        required 
        type="email"> <!-- Campo para ingresar el correo electrónico -->
      </ion-input>
    </ion-item>

    <br>

    <!-- Campo de contraseña -->
    <ion-item>
      <ion-input 
        [(ngModel)]="mdl_contrasena" 
        name="contrasena" 
        label="Contraseña" 
        labelPlacement="floating" 
        fill="outline" 
        type="password" 
        required> <!-- Campo para ingresar la contraseña -->
      </ion-input>
    </ion-item>

    <br>

    <!-- Botón de ingreso -->
    <ion-button class="boton" expand="block" type="submit" [disabled]="!mdl_correo || !mdl_contrasena">
      Ingresar <!-- Botón para enviar las credenciales -->
    </ion-button>

    <br>

    <!-- Botón para crear cuenta -->
    <ion-button expand="block" fill="clear" (click)="irCrearUsuario()">
      Crear Cuenta <!-- Redirige a la página de creación de cuenta -->
    </ion-button>

    <!-- Botón para recuperar contraseña -->
    <ion-button expand="block" fill="clear" routerLink="/recuperar-clave">
      ¿Olvidaste tu contraseña? <!-- Redirige a la página de recuperación de contraseña -->
    </ion-button>

    <!-- Mensaje de error -->
    <div class="error-message" *ngIf="mdl_mensaje">
      <p style="color: red;">{{ mdl_mensaje }}</p> <!-- Se muestra si existe un mensaje de error -->
    </div>
  </form>
</ion-content>
