<ion-header class="splash-barra" [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos a happy pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="splash-fondo">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/fotos_duoc/veterinaria.jpeg" alt="Logo" class="splash-logo">
  </div>

  <!-- Título de bienvenida -->
  <div class="splash-titulo">
    <ion-label>¡Bienvenido a la aplicación de Happy Pet!</ion-label>
  </div>
</ion-content>
