<ion-header>
  <!-- Barra de navegación principal -->
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="assets/img/logo.jpg" alt="Logo Clínica" style="height: 40px; margin-right: 10px;">
    </ion-buttons>
    <ion-title>Clínica Veterinaria</ion-title>
  </ion-toolbar>

  <!-- Barra de navegación con enlaces -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button 
        routerLink="/inicio" 
        routerDirection="root" 
        routerLinkActive="active-nav-link" 
        [routerLinkActiveOptions]="{ exact: true }">Inicio
      </ion-button>
      <ion-button 
        routerLink="/servicios" 
        routerDirection="forward" 
        routerLinkActive="active-nav-link" 
        [routerLinkActiveOptions]="{ exact: true }">Servicios
      </ion-button>
      <ion-button 
        routerLink="/equipo" 
        routerDirection="forward" 
        routerLinkActive="active-nav-link" 
        [routerLinkActiveOptions]="{ exact: true }">Equipo
      </ion-button>
      <ion-button 
        routerLink="/citas" 
        routerDirection="forward" 
        routerLinkActive="active-nav-link" 
        [routerLinkActiveOptions]="{ exact: true }">Citas
      </ion-button>
      <ion-button 
        routerLink="/contacto" 
        routerDirection="forward" 
        routerLinkActive="active-nav-link" 
        [routerLinkActiveOptions]="{ exact: true }">Contacto
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Citas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí puedes agregar el contenido de la página de citas -->
  <p>Reserva tus citas con nosotros. Pronto agregaremos esta funcionalidad.</p>


  <ion-footer>
    <ion-toolbar color="dark">
      <ion-text class="ion-text-center" color="light">
        <small>© 2025 Clínica Veterinaria Happy et. Todos los derechos reservados.</small>
        <small>Horario de atención</small>
        <div class="ion-text-center">
          <small>📅 Los 365 días del año</small><br>
          <small>⌛ Urgencias las 24 hrs. del día</small>
        </div>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</ion-content>





